#cursor{
    /* light mode - black to white */
    /* dark mode - white to black */
    --color1: light-dark(black, white);
    --color2: light-dark(white, black);
    background: radial-gradient(var(--color1), var(--color2));
    
    pointer-events: none;
    position: absolute;
}
