* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px;
}
section, header{
    margin-bottom: 48px;
}
article{
    margin-top: 16px;
    margin-bottom: 16px;
}
footer{
    font-size: 14px;
    border-top: 1px solid light-dark(black, white);
}
h1{
    font-weight: 400;
    font-size: 64px;
}